<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8">
      <title>Facturaci&oacute;n</title>
      <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>

     <link rel="stylesheet" type="text/css" href="../static/css/factura_rollo.css">
     <link rel="alternate stylesheet" type="text/css" href="../static/css/print.css" 


   </head>
   <body>
      <div class="css-content_center">
     
     
       
      </div>
      <div class="css-content_center">
         <p><b> CAMBASOFT</b></p>
         <p>Santa Cruz-Bolivia</p>
         <p>CASA MATRIZ</p>
         <h3>FACTURA ORIGINAL</h3>
      
         <hr>
         <table class="css-info_table">
            <tr>
               <td align="right"><b>NIT: </b></td>
               <td align="left"> 5665979016</td>
            </tr>
            <tr>
               <td align="right"><b>FACTURA No.: </b></td>
               <td align="left"> #</td>
            </tr>
            <tr>
               <td align="right"><b>AUTORIZACION No.: </b></td>
               <td align="left"> 7904006306693</td>
            </tr>
         </table>
      </div>
      <hr>
      <div>
         <p>Fecha:<b>  09 de marzo de 2018</b></p>
         <p>Se&ntilde;or(a):<b>  luis daniel montaño </b></p>
         <p>NIT/CI:<b>  8936756</b></p>
      </div>
      <hr>
      <div>
         <table class="css-info_table">
            <tr class='css-header_table'>
               <th class='text-center'>Cantidad</th>
               <th class='text-center'>Detalle</th>
               <th class='text-center'>P. Unit</th>
               <th class='text-center'>SubTotal</th>
            </tr>
          
            <tr>
               <td class='text-center'>1</td>
               <td class='text-center'>nada</td>
               <td class='text-right'>14</td>
               <td class='text-right'>14</td>
            </tr>
       
            <tr class='css-footer_table'>
               <td colspan="4">&nbsp;</td>
            </tr>
            <tr>
               <th colspan="3" class="text-right">Sub-Total (Bs.)</th>
               <th class='text-right'>14</th>
            </tr>
            <tr>
               <th colspan="3" class="text-right">Descuento (Bs.)</th>
               <th class='text-right'>0.00</th>
            </tr>
            <tr>
               <th colspan="3" class="text-right">Total (Bs.)</th>
               <th class='text-right'>14</th>
            </tr>
         </table>
      </div>
      <hr>
      <div>
         <p>Son: <b>SEIS MIL QUINIENTOS NOVENTA Y CINCO 00/100</b></p>
         <p>C&oacute;digo de control: <b>B1-A8-5E-C0</b></p>
         <p>Fecha l&iacute;mite de emisi&oacute;n:
            <b>17/04/2018</b>
         </p>
      </div>
      <div class="css-content_center">
         <!--<img class="css-invoice_data" src="../lib/phpqrcode/qr_generator.php?string=5665979016|448|7904006306693|26/12/2017|6595.00|6595.00|B1-A8-5E-C0|4654513012|0|0|0|0.00" width="200px">-->
         <img src='../static/img/qr.png' width="150px" />
      </div>
      <hr>
      <div class="css-content_center">
         <p><b>"ESTA FACTURA CONTRIBUYE AL DESARROLLO DE PAIS. EL USO ILICITO DE ESTA SERA SANCIONADO DE ACUERDO A
            LEY"</b>
         </p>
       <hr>
          <p>***GRACIAS POR SU COMPRA VUELVA PRONTO***</p>
      </div>
   </body>
