{% extends 'base/base.html'%}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/utils.html" as utils %}
{% block title %} Comentarios  {% endblock %}
{% block content %}
    


   <div class="container">
        {% if comments %}
           
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                     <h1 style="text-align:center;">LISTA DE COMENTARIOS</h1>  

        <hr>
          <div style="text-align: right">

          <a href="{{ url_for('comment') }}" class="btn btn-primary">
            <i class="fa fa-plus"></i>
            Agregar Comentario
          </a>
        </div>
   

                <table class="table  table-bordered table-hover">
               <thead>
                    <tr>
                       <th scope="col">id</th>
                       <th scope="col">Usuario</th>
                       <th scope="col">Fecha</th>
                       <th scope="col">Comentario</th>
                       <th scope="col"> Edit </th>
                       <th scope="col"> Delete </th>
                    </tr>
                     </thead>
                  <tbody>
                       {% for comment in comments.items %}
                        <tr>
                          <td>{{ comment.id }}</td>
                          <td>{{ comment.username }}</td>
                          <td>{{ date_format(comment.created_date) }}</td>
                          <td>{{ comment.text }}</td>
                          <td>
                        <a href="{{ url_for('edit_comment', id=comment.id) }}"><i class="fa fa-pencil"></i> Edit</a>
                          </td>
                  <td>
                    <a href="{{ url_for('delete_comment', id=comment.id) }}"><i class="fa fa-trash"></i> Delete </a>
                  </td>
                        </tr>
                          {% endfor %}    
                    </tbody>
                    </table>
                    </div>
                    
                </div>
                


  
          
        {% endif %}
    </div>
    



{% endblock %}