<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Facturaci&oacute;n</title>
      <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> 
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/factura_rollo.css') }}">
   
        
   </head>
   <body>
      
      <div class="css-content_center">
         <p><b>TICKET -- {{json1.id}}</b></p> 


      </div>
    
      <hr>
      <div>
         <p>Fecha:<b>  {{json1.fecha}}</b></p>
         <p>Se&ntilde;or(a):<b> {{json1.customer.first_name}} {{json1.customer.last_name}}</b></p>
         <p>NIT/CI:<b> {{json1.customer.nit}}</b></p>
         <p>TIPO:<b> {{json1.tipo}}</b></p> 
         <p>PAGO:<b> {{json1.pago}}</b></p>
         
      </div>
      <hr>
     
      <div>
         <table class="css-info_table">
            <tr class='css-header_table'>
               <th class='text-center'>CANT.</th>
               <th class='text-center'>DETALLE</th>
               <th class='text-center'>P. UNIT</th>
               <th class='text-center'>SUBTOTAL</th>
            </tr>
            {% for item in json1.line_items %}
            <tr>

            <td class='text-left'>{{item.quantity}}</td>
            <td></td>
            <td class='text-right'>{{item.price}}</td>
            <td class='text-right'>{{item.price}}</td>
            </tr>
            <tr>
               
               
               
               <th colspan="4">{{item.title}}</th>
               
            </tr>
             {% endfor %}  
            <tr class='css-footer_table'>
               
            </tr>
            <tr>
               <th colspan="3" class="text-right">Total (Bs.)</th>
               <th class='text-right'>{{json1.total_price}}</th>
            </tr>
         </table>
      </div>
      <hr>
      <!--<hr>-->
      <div class="css-content_center">
         <h5>*** GRACIAS POR SU COMPRA VUELVA PRONTO***</h5>
      </div>
   </body>



   